@import url('https://fonts.googleapis.com/css2?family=Fredoka+One:wght@600&display=swap');

body {
    font-family: 'Fredoka One', sans-serif;
    background-color: rgb(255, 255, 255); /* change this later */
  }
  
  .page{
    text-align: center;
    align-items: center;
    align-content:center;
  }

  .text{
    font-size: 80px;

  }

  .gender{
    color:aqua;
  }

  .reader{
    color:pink;

  }

  input{
    font-size:24px;
    font-family: Fredoka;
  }

  button{
    font-size:24px;
    font-family: Fredoka;
  }

  button:hover{
    background: rgb(255, 255, 255);
    color:whitesmoke
    transition 0.1s;

  }

  .test{
    font-size: 28px;

  }



  /*#submit{

  }
 
  /* h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  } */
