@import url('https://fonts.googleapis.com/css2?family=Fredoka+One:wght@600&display=swap');

body {
    font-family: 'Fredoka One', sans-serif;
    background-color: #8F73FF; /* change this later */
  }
  
  .page{
    text-align: center;
    align-items: center;
    align-content:center;
  }

  .text{
    font-size: 80px;

  }

  .first{
    color:#FF739D;
  }

  .second{
    color:#73FFD5;

  }

  input{
    font-size:24px;
    font-family: Fredoka;
  }

  button{
    font-size:24px;
    font-family: Fredoka;
  }

  button:hover{
    background: rgb(255, 255, 255);
    color:whitesmoke
    transition 0.1s;

  }

  .test{
    font-size: 28px;

  }

  @media (max-width: 600px) {
    .page{
      width:400px;
    }
    .input{
      width:400px;
    }
  }



  /*#submit{

  }
 
  /* h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  } */
